[package]
name = "pchan-emu"
version = "0.1.0"
edition = "2024"

[dependencies]
bitfield = "0.19.2"
bitvec = "1.0.1"
bon = "3.7.2"
color-eyre = "*"
const-hex.workspace = true
const_for = "0.1.5"

cranelift = { version = "0.124", features = ["core", "jit", "module", "native"] }
cranelift-codegen = { version = "0.124", features = ["arm64", "x86", "unwind"] }
# cranelift-frontend.workspace = true

crossbeam = "0.8.4"
derive_more = { version = "2.0.1", features = ["add", "debug", "deref", "display", "full"] }
dynasm = "4.0.1"
dynasmrt = "4.0.1"
enum_dispatch = "0.3.13"
flume = "0.12.0"
inquire = "0.9.1"
panic-message = "0.3.0"
pchan-macros = { workspace = true }
pchan-utils = { workspace = true }
petgraph = "0.8.2"
rapidhash = { version = "4.1.1", features = ["nightly"] }
rayon = "1.11.0"
slab.workspace = true
smallvec = "1.15.1"
smol = "2.0.2"
strum = { version = "0.27.2", features = ["derive"] }
tailcall = "1.0.1"
thiserror = "2.0.16"
tracing = { workspace = true }
tracing-subscriber = { workspace = true }

[dev-dependencies]
pretty_assertions = {version = "1.4.1", features = ["unstable"]}
rstest = "*"
color-eyre = "*" 
criterion = { version = "0.5", features = ["html_reports"] }


[[bench]]
name = "op_decoding"
harness = false

[[bench]]
name = "bios_func_1"
harness = false

[[bench]]
name = "dynarec_v2"
harness = false
